<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
[%- PROCESS 'head.tt' -%]
</head>
<body>

<div class="pgwrap">

  <div class="container">
    <div class="row">
      <div class="md-col-10 md-col-offset-1 well">

[% PROCESS 'navbuttons.tt' %]

[% PROCESS 'tablebase.tt' %]

      </div>
    </div>
  </div>
</div>

<div class="ftpush"></div>

<footer class="footer">
  <div class="text-center">
    Time Tracker v0.0.1
  </div>
</footer>

[% PROCESS 'modaltimer.tt' %]

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/store.js/1.3.14/store.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
<script src="javascripts/script.js"></script>

</body>
</html>
